@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-neutral-200 overflow-x-hidden overflow-y-auto relative;
}

@layer components {
  #nav_links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    width: var(--ele-width, 0px);
    height: var(--ele-height, 0px);
    transform: translate3d(var(--ele-pos-x, 0px), var(--ele-pos-y, 0px), 0);
    opacity: var(--ele-opacity, 0);
    transition: all 0.5s ease;
  }
}

@layer utilities {
}
